{% extends 'layout.html' %}
 {% block body %}
<h1 class="ml-5">Assignments & Notices</h1>
<ul>
{% for article in articles %}
	<li class="list-group-item">
		<i class="far fa-clipboard mr-3"></i>
		<a href="article/{{article.id}}">{{article.title}}</a>
		{% if session.isTeacher == False %}
		<form class="d-inline float-right ml-3" action="{{url_for('submit_assignment', assignment_id=article.id)}}" method="post">
			<!-- <input type="hidden" name="_method" value="SUBMIT"> -->
			<input type="submit" value="Submit" class="btn btn-primary">
		</form>
		{% endif %}
		<small class="float-right text-muted">by {{article.author}} on {{article.create_date}}</small>
	</li>
{%  endfor%}
</ul>
{% endblock %}