<h3>Comments & Queries</h3>
<ul>
{% for comment in comments %}
	<li class="list-group-item">
		{% if comment.author == article.author %}
		<i class="fas fa-comment text-primary mr-3"></i>
		{% else %}
		<i class="fas fa-question-circle text-primary mr-3"></i>
		{% endif %}
    {{comment.body}}
    {% if comment.author == session.username %}
		<form class="float-right" action="{{url_for('delete_comment', id=comment.id, article_id=comment.article_id)}}" method="post">
			<input type="hidden" name="_method" value="DELETE">
			<button type="submit" value="X" class="btn btn-outline-light text-danger">
				<i class="fas fa-times-circle fa"></i>
			</button>
    </form>
    {% endif %}
		<small class="float-right text-muted pt-2">by {{comment.author}} on {{comment.create_date}}</small>
	</li>
{%  endfor%}
</ul>
{% include 'add_comment.html' %}