{% extends 'layout.html' %}
 {% block body %}
<div class="jumbotron text-center">
	<h1>Welcome</h1>
	<p class="lead">This is a simple user-friendly software and the main objective of the system is to simplify management of the classroom. The system is very simple in design and to implement. The system requires very low system resources and the system will work in almost all configurations. Teachers can add, view, edit and remove assignments and can even view the queries given by the students for their subjects on login. Students can view the assignments for their subjects at their own convenience and can even ask the queries to their subject teachers.</p>
	{% if session.logged_in == NULL %}
		<a href="/register" class="btn btn-primary btn-lg">Register</a>
		<a href="/login" class="btn btn-success btn-lg">login</a>
	{% endif %}
</div>
{% endblock %}